* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
 
.container {
    width: 414px;
    height: 736px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.37),#ffd0d2d2),url(../media/backround.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.border {
    width: 300px;
    height: 500px;
    padding: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.616);
    position: absolute;
    top: 100px;
}

.container img {
    width: 250px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    
    
}

.container h1 {
    margin: 30px;
    position: absolute;
    top: 315px;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 25px;
    
}

.container h2 {
    margin: 30px;
    position: absolute;
    top: 350px;
    font-weight: lighter;
    font-size: 15px;
    display: inline-block;
    color: rgb(255, 255, 255);
    
}

.container p {
    margin: 30px;
    position: absolute;
    top: 380px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: lighter;
    
}

#waveform {
    position: absolute;
    width: 250px;
    top: 435px;

}


.controls {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.controls img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    display: flex;
    top: 160px;
    align-items: center;
    padding: 30px;
    
}


.footer {
    margin: 10px;
    text-align: center;

}

.footer a{
    font-size: 8px;
    width: 414px;
    display: block;
    color: #5f5f5f;
    cursor: pointer;
    position: absolute; 
    top: 710px;
  }
